<!-- ******* TM005-yellow_text-top START ******* --><table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
 
    <tr>
        <td style="padding: 15px 30px 0px;">
         <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius: 20px;" width="100%">
          
           <tr>
            <td bgcolor="#7b4c9e" style="padding: 15px 10px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
             <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
              
               <tr>
                <td class="mobile-padding text-center" style="color: #FFFFFF; %%=v(@fontScene)=%% font-size: 22px; line-height: 22px;font-weight: bold;">
                 ALL WEEK LONG!</td></tr></table></td></tr></table></td></tr></table><!-- ******* TM005-yellow_text-top START ******* --><!-- ******* SM016-points_offer_02 START ******* --><table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
      
       <tr>
        <td style="padding: 0px 30px 15px 30px;">
         <table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" role="presentation" style="padding: 15px 10px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" width="100%">
          
           <tr>
            <td class="col" style="width: 50%; padding: 6px">
             <div class="show" style="display: none">
              <img alt="Scene Digital Exclusive" src="https://image.em.foodland.ca/lib/fe3411717164057d7d1676/m/1/37b81dba-d7a6-424b-b7af-dca9167624d2.png" style="display: block; width: 100%; height: auto" width="300"></div><div class="hide">
              <img alt="Scene Digital Exclusive" src="https://image.em.foodland.ca/lib/fe3411717164057d7d1676/m/1/a873a690-7e1a-4b6d-92e8-58f49f759cd7.png" style="display: block; width: 100%; height: auto;" width="270"></div></td><td class="col" valign="middle">
             <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
              
               <tr>
                <td class="py-3 text-center" style="padding: 5px 0px 15px 0; color: #FFFFFF; %%=v(@fontScene)=%% font-size: 14px; line-height: 20px;">
                 <!-- For Mobile Display --><div class="show" style="display: none">
                  <p style="margin: 0 0 5px 0; font-size: 20px">
                   <strong>SPEND $75 OR MORE, GET</strong></p><p style="margin: 0 0 10px 0; font-size: 32px; line-height: 38px; ">
                   <strong>500 PTS<sup style="line-height:0;font-size:0.6em;">*</sup></strong></p><p style="margin: 0 0 5px 0; font-size: 16px">
                   <strong>WHEN YOU LOAD THIS OFFER TOMORROW</strong></p><p style="margin: 0 0 10px 0; font-size: 16px">
                   in the <b>Foodland app</b><br>
                   or at <b>MyGroceryOffers.ca</b></p><p style="margin: 0; font-size: 16px">
                   *Valid Apr 3 - 9</p></div><div class="hide">
                  <!-- Desktop Content --><p style="margin: 0 0 12px 0;">
                  </p><p style="margin: 0 0 0px 0;">
                   <strong>SPEND $75 OR MORE, GET</strong></p><p style="margin: 0 0 5px 0; font-size: 26px; line-height: 30px;">
                   <strong>500 PTS<sup style="line-height:0;font-size:0.6em;">*</sup></strong></p><p style="margin: 0 0 5px 0;">
                   <strong>WHEN YOU LOAD THIS<br>
                   OFFER TOMORROW</strong></p><p style="font-size: 14px; line-height: 20px; margin:0 0 10px 0;">
                   in the <b>Foodland app</b><br>
                   or at <b>MyGroceryOffers.ca</b></p><p style="margin: 0 0  0px 0;">
                   *Valid Apr 3 - 9</p></div></td></tr></table></td></tr></table></td></tr></table><!-- ******* SM016-points_offer_02 END ******* -->
     